@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400;700;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Sofia Sans Condensed', sans-serif;
    background: #9974ff;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 150px 0 150px;
    align-items: center;
}

body {
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.app_wrapper {
    background: white;
    width: 1000px;
    height: fit-content;
    border-radius: 50px;
    padding: 50px 100px;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 3px solid rgb(235, 235, 235);
    border-radius: 6px;
    box-shadow: 2px 2px 10px black;
    max-height: 101px;
    background: rgb(235, 235, 235);
}

.item:hover {
    box-shadow: 1.5px 1.5px 7px black;
}

.item img {
    width: 105px;
    height: 95px;
    border-radius: 5px;
}

.location_item {
    max-height: 106px;
}

.location_item img {
    width: 100px;
    height: 100px;
}

.location_item_desc {
    max-width: 110px;
}

.list {
    margin-top: 23px;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;

}

.title {
    color: #000000a3;
    font-weight: 900;
    font-size: 29px;
}

.desc {
    font-size: 19px;
}

.shapes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected {
    box-shadow: 0px 0px 0px black;
    border: 5px solid #9974ff;
    background: #9974ff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selected:hover {
    box-shadow: 0px 0px 0px black;
}


.item_desc {
    position: absolute;
    display: none;
    top: 91px;
    background: #9974ff;
    padding: 6px;
    width: 115px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item_desc:hover {
    z-index: 1;
}

.inputs {
    margin-top: 70px;
    padding-left: 75px;
    display: flex;
    gap: 200px;
}

.app_input {
    max-width: 225px;
    height: 75px;
    border: none;
    background: rgb(235, 235, 235);
    font-size: 37px;
    padding-right: 75px;
    border-radius: 35px;
    text-align: right;
    border-top-left-radius: 0;
    box-shadow: 2px 2px 10px black;
    color: #000000a3;
    font-weight: 700;
}

.app_input::placeholder {
    font-size: 40px;
}

.app_input[type="number"]::-webkit-inner-spin-button,
.app_input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.input_label {
    font-size: 18px;
    font-weight: 700;
}

.input_inner_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input_details {
    display: flex;
    position: absolute;
    left: 165px;
    color: #fff;
    height: fit-content;
    font-family: 'Sofia Sans Condensed', sans-serif;
    z-index: 1;
}

.items_wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

.input_details[open] {
    background: #9974ff;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px black;

}

.details_item {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background: #6832ff;
    color: #fff;
    font-weight: 900;
    box-shadow: 2px 2px 5px black;
}

.details_item:hover {
    box-shadow: 1px 1px 4px black;

}

.locations {
    margin-bottom: 30px;
}

.open_units {
    cursor: pointer;
    list-style: none;
    background: #9974ff;
    width: 37px;
    height: 37px;
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.input_outer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculate {
    border: none;
    background: #9974ff;
    padding: 20px 40px;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    border-radius: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px black;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.calculate:hover {
    box-shadow: 1.5px 1.5px 7px black;
    transform: translate(1px, 1px);

}

.results {
    margin-top: 75px;
    text-align: left;
}

.result_wrapper {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;

}

.result {
    color: #9974ff;
    font-size: 70px;
}

.open {
    list-style: none;
    font-size: 23px;
    margin-top: 15px;
    height: 40px;
}

.open_btn img {
    position: absolute;
    top: 6.5px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.open:hover {
    font-size: 24px;

}


.open_btn {
    position: relative;
    align-items: center;
    gap: 7px;
    border: none;
    background: #9974ff;
    padding: 5px 15px 7px 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 40px;
    box-shadow: 2px 2px 10px black;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 20px;
}

.open_btn:hover {
    box-shadow: 1.5px 1.5px 7px black;
    transform: translate(1px, 1px);
}

.extra_input_wrapper {
    display: none;
}

.extra_size {
    border-top-left-radius: 5px;
}

.settings {
    display: flex;
    justify-content: end;
}

.app_bottom {
    position: relative;
}

.settings_btn {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 7px;
    border: none;
    background: #8f8f8f;
    padding: 5px 15px 7px 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 40px;
    box-shadow: 2px 2px 10px black;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 20px;
}

.settings_btn:hover {
    box-shadow: 1.5px 1.5px 7px black;
    transform: translate(1px, 1px);
}

.settings_btn img {
    width: 20px;
    height: 20px;
}

.modal_settings_bottom{
    padding-top: 40px;
}

.modal_settings {
    bottom: 0px;
    position: absolute;
    background: #9974ff;
    width: fit-content;
    min-width: 300px;
    height: fit-content;
    padding: 25px 50px 35px 50px;
    border-radius: 75px;
    box-shadow: 5px 5px 50px black;    
    z-index: 1;
    display: none;
}

.modal_wrapper{
    position: relative;
}

.languages_details {
    padding: 10px 30px 20px 30px;
    border-radius: 20px;
}

.languages_details summary {
    list-style: none;
}

.languages_details summary img {
    width: 20px;
    height: 20px;
}

.languages_details_open {
    background: #ffffff;
    color: #000;
    position: relative;
    background: #fff;
    box-shadow: none;
    z-index: 1;

}

.languages_details_open:hover {
    background: #fff;
    box-shadow: none;
    transform: none
}

.languages_details_open img {
    top: 7.5px;
    right: 85px;
}

.modal_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.opened {
    background: #fff;
    box-shadow: 2px 2px 20px black;    
}

.languages_list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding-top: 10px;
}

.language_item {
    border: none;
    background: #8f8f8f;
    padding: 5px 15px 7px 5px;
    color: #fff;
    font-weight: 700;
    border-radius: 40px;
    box-shadow: 2px 2px 10px black;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.language_item:hover {
    box-shadow: 1.5px 1.5px 7px black;
    transform: translate(1px, 1px);
}

.language_title{
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 6px;
    color: #fff;
    margin-top: 10px;
}

.modal_title{
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.underline{
    width: initial;
    height: 1px;
    background: #474747;
}

.сlose_modal_settings{
    background: #606060;
}

.flag{
    width: 20px;
}

@media screen and (max-width:1000px) {
    .app_wrapper {
        padding: 50px 40px;
        max-width: 1000px;
    }

    .inputs {
        gap: initial;
        padding: 0 50px 0 50px;
        justify-content: space-between;
    }

    .settings {
        padding-top: 30px;
    }
}

@media screen and (max-width:650px) {
    .inputs {
        padding: 0;
    }

    .settings {
        padding-top: 40px;
    }
}

@media screen and (max-width:600px) {
    .container {
        height: fit-content;
        padding: 100px 0 100px;
    }

    .app_wrapper {
        height: fit-content;
    }
}

@media screen and (max-width:550px) {
    .inputs {
        flex-direction: column;
        gap: 12px;
    }

    .results {
        margin-top: 50px;
    }

    .result{
        font-size: 63px;
    }

    .calculate {
        margin-top: 45px;
    }
    .items_wrapper {
        flex-wrap: wrap;
        height: fit-content;
    }
}

@media screen and (max-width:325px) {
    .app_wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .result {
        font-size: 55px;
    }

    .calculate {
        padding: 15px 27px;
    }
    .modal_settings{
        min-width: 260px;
        padding: 25px 30px 35px 30px;
    }
    .modal_title{
        font-size: 30px;
    }
}